header{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}
h1{
    margin: 0;
}
body{
    margin: 0;
}
a{
    background-color: lightgreen;
    color: white;
    font-size: 20px;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
}
a:hover{
    cursor: pointer;
    background-color: green;
}
nav{
    text-align: center;
    padding: 10px;
}
div{
    border: 1px solid gray;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
footer{
    text-align: center;
}